        .custom-blue {
            color: #0ea5e9;
        }

        .no-scroll {
            overflow: hidden;
        }

        .bg-custom-blue {
            background-color: #0ea5e9;
        }

        .hover-custom-blue:hover {
            background-color: #0ea5e9;
        }

        #ergonomie-stars span,
        #design-stars span,
        #contenu-stars span {
            color: #64748b;
            cursor: pointer;
            transition: color 0.25s, transform 0.25s;
        }